@font-face {
  src: url(fonts/Jersey10-Regular.ttf);
  font-family: jersey;
}
@font-face {
  src: url(fonts/Jersey25-Regular.ttf);
  font-family: jersey25;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --drkClr: #181818;
  --liClr: whitesmoke;
  --accClr: #0D0D35;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html,body{
  height:100%;
  margin:0;
  padding: 0;
}

body{
  background-color: var(--drkClr);
  color: var(--liClr);
  display: flex;
  flex-direction: column;
}

header,footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 20px;
  font-family: jersey;
  font-size: 50px;
}

main{
  font-family: jersey;
  flex:1;
  display: flex;

}

.gameCanvas{
  border: 1px solid red;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  z-index: 1;
}

.gameUI{
  width: 100%;
  height: 100%;
  background-image: url(../assets/space.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.gameUI *{
  text-align: center;
  margin-top: 10px;
  
}

/* #startMenuDiv{
  display: flex;
}

#gameEndDiv{
  display: none;
} */

/* #gameStartBtn{
  display: inline-block;
  width: 100px;
  padding: 8px 15px;
  margin: 20px 0;
  text-align: center;
  font-family: inherit;
  border-radius: 10px

} */

#RoomNumberBtn{
  display: inline-block;
  width: 100px;  
  padding: 10px 15px;
  margin-top: 10px; 
  text-align: center;
  font-family: inherit;
  border-radius: 10px;
  background-color: var(--liClr);  
  color: black;  
  cursor: pointer;
}

#gameNumberBtn:hover{
  background-color: var(--liClr);
  border: 0.5px solid var(--drkClr);
  color: var(--liClr);
  cursor:pointer;
}


#RoomNumber {
  padding: 8px;
  border: 1px solid #ccc;  
  border-radius: 4px;   
  align-items: center;
  border-radius: 10px;
}
#playerName{
  padding: 8px;
  border: 1px solid #ccc;  
  border-radius: 4px;   
  align-items: center;
  border-radius: 10px;
}

#menuScreenDiv h1{
  font-size: 70px;
}

.popup{
  width: 500px;
  background: #f2f3ee;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.1s, top 0.1s;
}

.open-popup{
  visibility: visible;
  top:50%;
  transform: translate(-50%,-50%) scale(1);
}


.popup h1{
  font-size: 38px;
  font-weight: 500;
  
}


.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #2f3ea3;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 25px;
  border-radius: 4px;
  cursor: pointer;
  font-family: jersey;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.TextBox{
  position: absolute;
  top: 84%;
  left: 28.75%;
  transform: translate(-50%,-50%);
  display: flex;
  z-index: 1;
  padding: 8px;
  border: 1px solid #ccc;  
  border-radius: 4px;   
  align-items: center;
  border-radius: 10px;
  width: 320px;
  background-color: antiquewhite;
  visibility: hidden;
}

.open-TextBox{
  visibility: visible;
}