@font-face {
  src: url(fonts/Jersey10-Regular.ttf);
  font-family: jersey;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --drkClr: #181818;
  --liClr: whitesmoke;
  --accClr: #0D0D35;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html,body{
  height:100%
}

body{
  background-color: var(--drkClr);
  color: var(--liClr);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 20px;
  font-family: jersey;
  font-size: 50px;
}

main{
  font-family: jersey;
  flex:1;
  display: flex;

}

#gameCanvas{
  border: 1px solid red;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  z-index: 1;
}

.gameUI{
  width: 66%;
  height: 74vh;
  background-image: url(../assets/space.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  margin-left: 17%;
}

.gameUI *{
  text-align: center;
  margin-top: 10px;
}

#startMenuDiv{
  display: flex;
}

#gameEndDiv{
  display: none;
}

#gameStartBtn{
  display: inline-block;
  width: 100px;
  padding: 8px 15px;
  margin: 20px 0;
  text-align: center;
  font-family: inherit;
  border-radius: 10px

}

#RoomNumberBtn{
  display: inline-block;
  width: 100px;  
  padding: 10px 15px;
  margin-top: 10px; 
  text-align: center;
  font-family: inherit;
  border-radius: 10px;
  background-color: var(--liClr);  
  color: black;  
  cursor: pointer;
}

#gameNumberBtn:hover{
  background-color: var(--liClr);
  border: 0.5px solid var(--drkClr);
  color: var(--liClr);
  cursor:pointer;
}


#RoomNumber {
  padding: 8px;
  border: 1px solid #ccc;  
  border-radius: 4px;   
  align-items: center;
  border-radius: 10px;
}

#menuScreenDiv h1{
  font-size: 70px;
}